{% wire %}
<div id="scope-a">
    <span id="cross-a-name">{{ user.name }}</span>
    <span id="cross-a-email">{{ user.email }}</span>
    <input id="cross-a-input" type="text" value="{{ user.name }}">
</div>
