{% wire %}
<div id="scope-b">
    <span id="cross-b-name">{{ user.name }}</span>
    <span id="cross-b-email">{{ user.email }}</span>
    <input id="cross-b-input" type="text" value="{{ user.name }}">
</div>
