{% wire %}
<div class="user-card">
    <span class="card-name" data-wire="user.name">{{ user.name }}</span>
    <span class="card-email" data-wire="user.email">{{ user.email }}</span>
    <span class="card-status" data-wire="user.status:class">{{ user.status }}</span>
</div>
