{% wire %}
<div class="user-card">
    <span class="card-name">{{ user.name }}</span>
    <span class="card-email">{{ user.email }}</span>
    <span class="card-status {{ user.status }}">{{ user.status }}</span>
</div>
