{% extends 'base.html.twig' %}

{% block title %}Wire Test — User Relations{% endblock %}

{% block body %}
{% wire %}
<span>{{ user.name }}</span>
<span>{{ user.address ? user.address.city : '' }}</span>
<span>{{ user.address ? user.address.street : '' }}</span>
{% endblock %}
