<div class="address">
    <span data-wire="address.street">{{ address.street }}</span>
    <span data-wire="address.city">{{ address.city }}</span>
    <input data-wire="address.city:value" value="{{ address.city }}"> (type here)
    <span data-wire="address.zip">{{ address.zip }}</span>
</div>
